
.button {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  min-width: fit-content; 
  max-width: 250px; 
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 2em;
  background-color: var(--light-pink);
  color: var(--grey);
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

.button span {
  white-space: nowrap;
}

.button:hover {
  outline: auto;
  outline-color: var(--pink);
}

.buttonLogo {
  height: 24px;
  border-radius: 2px;
}
