.clickableCard {
  text-decoration: none;
  color: inherit;
}

.clickableCard:hover {
  background-color: var(--light-pink);
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.arrowIcon {
  height: 0.75rem;
  width: auto;
}
