.footer {
  padding: 1rem 0 4rem 0;
  text-align: center;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.icon {
  height: 32px;
  transition: transform 0.2s ease-in-out;
}

.icon:hover {
  transform: scale(1.1);
}
