.page {
  padding: 2rem 20rem;
  transition: padding 0.3s ease-in-out;
}

@media (max-width: 1360px) {
  .page {
    padding: 2rem 10rem;
  }
}

@media (max-width: 720px) {
  .page {
    padding: 2rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.clickableGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin-top: 0.5rem;
}