.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 20rem;
  background-color: var(--pink);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white);
  white-space: nowrap;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}

.title:hover {
  transform: scale(1.04);
}

.hamburger {
  display: none; /* Hidden by default on larger screens */
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--white);
}

.nav {
  display: flex;
}

.navList {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navLink {
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  transition: color 0.2s ease-in-out;
  white-space: nowrap;
}

.navLink:hover,
.active {
  color: var(--grey);
}

@media (max-width: 1360px) {
  .topbar {
    padding: 1rem 10rem;
  }
}

@media (max-width: 1040px) {
  .topbar {
    padding: 1rem 2rem;
  }

  .hamburger {
    display: block; /* Show hamburger on smaller screens */
  }

  .nav {
    display: none; /* Hide nav by default on smaller screens */
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: var(--pink);
    padding: 1rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .nav.open {
    display: flex;
  }

  .navList {
    flex-direction: column;
    align-items: center;
  }

  .navList li {
    margin: 0.5rem 0;
  }
}
